@model CustomerSearchModel

@{
    ViewData["Title"] = "Customers List";
    ViewData["sidebar-active-system-name"] = "customers:list";

    var tableModel = new TableModel()
    {
        Identifier = "customerlist",
        ReadUrl = Url.Action("List", "Customer") ?? "",
        Columns = new List<TableCellModel>()
        {
            new TableCellModel()
            {
                PropertyName = nameof(CustomerModel.Id),
                Title = "Id",
                Renderer = new TableCellTextRenderer()
            },
            new TableCellModel()
            {
                PropertyName = nameof(CustomerModel.FirstName),
                Title = "First name",
                ClassNames = "text-center",
                Renderer = new TableCellTextRenderer(),
            },
            new TableCellModel()
            {
                PropertyName = nameof(CustomerModel.LastName),
                Title = "Last name",
                ClassNames = "text-center bg-red-500",
                Renderer = new TableCellTextRenderer()
            }
        }
    };    
}

<div class="m-4">
    @await Html.PartialAsync("_Table", tableModel)
</div>