@model CustomerSettingsModel

<div class="m-4">
    <div class="flex justify-between">
        <div>
            <h1>Customer Setings</h1>
        </div>
        <div>

        </div>
    </div>
    <div class="collapse collapse-plus bg-base-200 mb-4">
        <input type="radio" name="my-accordion-3" checked="checked" />
        <div class="collapse-title text-xl font-medium">Customer Registration Settings</div>
        <div class="collapse-content">
            <div class="form-control flex-row items-center gap-x-4">
                <div class="w-1/3 text-end">
                    <label asp-for="PublicCustomerRegistrationEnabled"></label>
                </div>
                <div class="w-2/3">
                    <input asp-for="PublicCustomerRegistrationEnabled" class="toggle">
                </div>
            </div>
        </div>
    </div>
</div>