<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.Net.Web.Admin</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>

    <!-- Render footer scripts -->
    @Html.Raw(ScriptTagHelper.RenderFooterScripts())
</body>

</html>