<ul class="menu bg-base-200 h-screen w-56">
    <li>
        <a href="#">Dashboard</a>
    </li>
    <li>
        <details>
            <summary>Parent</summary>
            <ul>
                <li>
                    <a href="#">Submenu 1</a>
                </li>
                <li>
                    <a href="#">Submenu 2</a>
                </li>
                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul>
                            <li>
                                <a href="#">Submenu 1</a>
                            </li>
                            <li>
                                <a href="#">Submenu 2</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </details>
    </li>
    <li><a>Item 3</a></li>
</ul>