@model SidebarNodeModel

@{
    var activeSystemName = ViewData["sidebar-active-system-name"] as string;
}

@if (Model.ChildrenNodes.Any())
{
    <li>
    <details>
        <summary>@Model.Text</summary>
        <ul>
            @foreach (var childNodeModel in Model.ChildrenNodes)
                {
                    @await Html.PartialAsync("_SidebarNode", childNodeModel)
                }
            </ul>
        </details>
    </li>
}
else
{
    <li>
    <a class="@(Model.SystemName == activeSystemName ? "active" : "")" href="@Model.Url">@Model.Text</a>
</li>
}

<script asp-location="AspLocation.Footer">
    $(function () {
        $('details:has(a.active)').attr('open', true);
    })
</script>